version: '3.8'

services: 
  pssentry:
    build:
      context: .
      args:
        # Replace this with the desired image variant (see https://mcr.microsoft.com/v2/devcontainers/php/tags/list)
        - imageVariant=8.1
        # Replace this with the desired PrestaShop version
        - PS_VERSION=8.1.0
      dockerfile: Dockerfile
    
    restart: unless-stopped
    depends_on:
      - db
    volumes:
      - type: bind
        source: ../ # local path to the module
        target: /var/www/html/modules/pssentry # path to be mounted in the container
      - psdata:/var/www/html
    networks:
      - backend
      - traefik_public

    labels:
      - --port=8080
      - traefik.http.services.pssentry.loadbalancer.server.port=8080
      - traefik.enable=true
      - traefik.http.routers.pssentry.rule=Host(`pssentry.local.dev`)
      - traefik.http.routers.pssentry.tls=true
      - traefik.http.routers.pssentry.entrypoints=websecure

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    # network_mode: service:db

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally. 
    # (Adding the "ports" property to this file will not forward from a Codespace.)

  db:
    image: mariadb
    restart: unless-stopped
    volumes:
      - mariadb-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: mariadb
      MYSQL_DATABASE: prestashop
      MYSQL_USER: mariadb
      MYSQL_PASSWORD: mariadb
    networks:
     - backend

    # Add "forwardPorts": ["3306"] to **devcontainer.json** to forward MariaDB locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)
  
  phpmyadmin-sentry:
    image: phpmyadmin
    restart: always
    #ports:
    #  - "8090:80"
    environment:
      PMA_ARBITRARY: 1
      PMA_ABSOLUTE_URI: https://pssentry-phpmyadmin.local.dev
      #PMA_HOST: db
      #PMA_PORT: 3306
    labels:
      - traefik.enable=true
      - traefik.http.routers.phpmyadmin-sentry.rule=Host(`pssentry-phpmyadmin.local.dev`)
      - traefik.http.routers.phpmyadmin-sentry.tls=true
      - traefik.http.routers.phpmyadmin-sentry.entrypoints=websecure
    networks:
      - backend
      - traefik_public
    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    #network_mode: service:db
      
volumes:
  mariadb-data:
  psdata:

networks:
  traefik_public:
    external: true
  backend:
